<footer class="footer">
  <small>
    <%= t ".small1" %> <a href="http://www.railstutorial.org/"><%= t ".a1" %></a>
    <%= t ".small2" %> <a href="http://www.michaelhartl.com/"><%= t ".a2" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".link1"), about_path %></li>
      <li><%= link_to t(".link2"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t ".a3" %></a></li>
    </ul>
  </nav>
</footer>
